/* make all text white, centered, and 20 pixels */
a{
  color: white;
  font-size: 20px;
  text-align: center;
}
/* insert the background image, have it cover the whole page and not repeat */
body{
  background-image: url(https://images.wallpaperscraft.com/image/background_blemishes_dark_91678_1920x1080.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
/* all headers are to be centered, white, and 45 pixels in size */
h1{
  color: white;
  font-size: 45px;
  text-align: center;
}

/* make all text 20pixels in size, white, and centered  */
p{
  font-size: 20px;
  color: white;
text-align: center;
}
.imgRow{
  margin-bottom: 50px;
}

.imgRow img{
  width: 100%;

}
/* this is how the hover pule effect on the nav bar works.  */
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* link to her instagram, the !important makes sure that it doesnt use materialze specifically for this thing on the page.  */
#link {
  height: 50px !important;
  width: 50px !important;
}
/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
