a{
  color: white;
  font-size: 20px;
  text-align: center;
}

body{
  background-image: url(https://images.wallpaperscraft.com/image/background_blemishes_dark_91678_1920x1080.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

h1{
  color: white;
  font-size: 45px;
  text-align: center;
}

p{
  font-size: 20px;
  color: white;
  text-align: center;
}

.carousel{
  height: 55vh;
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#link {
  height: 50px !important;
  width: 50px !important;
}
